In [2]:
import pandas as pd

In [3]:
data  = pd.read_csv(r"C:\\Users\\neel\\OneDrive\\Desktop\\MLproject\\data_set\\train.csv")
data

,Unnamed: 0,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,...,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level,Heart Disease Status
0,9254,78.0,Male,140.0,289.0,High,Yes,Yes,No,25.086206,...,No,Low,High,9.024681,Medium,222.0,137.0,14.481422,11.320909,Yes
1,1561,64.0,Male,143.0,203.0,Low,Yes,Yes,Yes,23.791361,...,No,High,Medium,6.543419,Medium,188.0,111.0,6.485267,15.761419,No
2,1670,18.0,Female,147.0,161.0,Low,Yes,Yes,Yes,37.100070,...,No,High,High,4.612469,Low,259.0,123.0,3.383982,14.664906,No
3,6087,24.0,Female,145.0,195.0,Medium,Yes,No,No,23.917206,...,No,NaN,Medium,4.964663,High,175.0,101.0,9.998831,14.296107,No
4,6669,49.0,Male,157.0,291.0,Medium,Yes,No,Yes,22.477665,...,Yes,NaN,Low,7.810732,Medium,261.0,99.0,3.111362,15.257110,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,5734,37.0,Male,168.0,221.0,Medium,No,Yes,No,18.751434,...,No,NaN,High,9.204600,High,385.0,145.0,11.497224,5.402544,No
7996,5191,54.0,Female,156.0,261.0,High,No,No,No,27.909549,...,Yes,Medium,Medium,8.108505,Medium,343.0,138.0,12.966452,19.244289,No
7997,5390,49.0,Female,144.0,228.0,Medium,No,Yes,No,33.563750,...,No,NaN,High,7.650281,Low,106.0,159.0,13.646456,13.027824,No
7998,860,22.0,Female,137.0,238.0,Low,Yes,No,No,23.752347,...,Yes,Medium,Medium,5.011020,High,214.0,92.0,3.374796,14.446374,No
7999,7270,66.0,Female,135.0,287.0,High,Yes,No,No,35.650116,...,No,Low,Medium,4.977200,Medium,124.0,103.0,14.360263,19.381659,No

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8000 non-null   int64
 1   Age                   7973 non-null   float64
 2   Gender                7986 non-null   object
 3   Blood Pressure        7982 non-null   float64
 4   Cholesterol Level     7975 non-null   float64
 5   Exercise Habits       7981 non-null   object
 6   Smoking               7981 non-null   object
 7   Family Heart Disease  7983 non-null   object
 8   Diabetes              7979 non-null   object
 9   BMI                   7984 non-null   float64
 10  High Blood Pressure   7982 non-null   object
 11  Low HDL Cholesterol   7983 non-null   object
 12  High LDL Cholesterol  7979 non-null   object
 13  Alcohol Consumption   5917 non-null   object
 14  Stress Level          7983 non-null   object
 15  Sleep Hours           7978 non-null   float64
 16  Sugar Consumption     7974 non-null   object
 17  Triglyceride Level    7978 non-null   float64
 18  Fasting Blood Sugar   7988 non-null   float64
 19  CRP Level             7982 non-null   float64
 20  Homocysteine Level    7984 non-null   float64
 21  Heart Disease Status  8000 non-null   object
dtypes: float64(9), int64(1), object(12)
memory usage: 1.3+ MB

In [5]:
data.describe()

,Unnamed: 0,Age,Blood Pressure,Cholesterol Level,BMI,Sleep Hours,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level
count,8000.000000,7973.000000,7982.000000,7975.000000,7984.000000,7978.000000,7978.000000,7988.000000,7982.000000,7984.000000
mean,5011.506875,49.137715,149.718867,225.284138,29.048551,6.980410,250.809601,119.945919,7.462968,12.447990
std,2887.649416,18.180331,17.568400,43.616977,6.313508,1.754193,87.410469,23.596183,4.339146,4.334343
min,1.000000,18.000000,120.000000,150.000000,18.002837,4.000605,100.000000,80.000000,0.003647,5.000236
25%,2511.750000,34.000000,134.000000,187.000000,23.633575,5.442065,175.000000,99.000000,3.647362,8.698348
50%,5013.500000,49.000000,150.000000,225.000000,29.036253,7.001448,251.000000,120.000000,7.486026,12.413082
75%,7504.250000,65.000000,165.000000,263.000000,34.501594,8.511791,326.000000,141.000000,11.240499,16.139847
max,9999.000000,80.000000,180.000000,300.000000,39.995797,9.999952,400.000000,160.000000,14.997087,19.997032

In [6]:
data.isnull().sum()

Unnamed: 0                 0
Age                       27
Gender                    14
Blood Pressure            18
Cholesterol Level         25
Exercise Habits           19
Smoking                   19
Family Heart Disease      17
Diabetes                  21
BMI                       16
High Blood Pressure       18
Low HDL Cholesterol       17
High LDL Cholesterol      21
Alcohol Consumption     2083
Stress Level              17
Sleep Hours               22
Sugar Consumption         26
Triglyceride Level        22
Fasting Blood Sugar       12
CRP Level                 18
Homocysteine Level        16
Heart Disease Status       0
dtype: int64

In [7]:
data.duplicated().sum()

0

In [8]:
cat_columns = data.columns[data.dtypes=="object"]
data[cat_columns]

,Gender,Exercise Habits,Smoking,Family Heart Disease,Diabetes,High Blood Pressure,Low HDL Cholesterol,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sugar Consumption,Heart Disease Status
0,Male,High,Yes,Yes,No,Yes,Yes,No,Low,High,Medium,Yes
1,Male,Low,Yes,Yes,Yes,Yes,Yes,No,High,Medium,Medium,No
2,Female,Low,Yes,Yes,Yes,No,No,No,High,High,Low,No
3,Female,Medium,Yes,No,No,Yes,No,No,NaN,Medium,High,No
4,Male,Medium,Yes,No,Yes,Yes,No,Yes,NaN,Low,Medium,No
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,Male,Medium,No,Yes,No,Yes,No,No,NaN,High,High,No
7996,Female,High,No,No,No,Yes,Yes,Yes,Medium,Medium,Medium,No
7997,Female,Medium,No,Yes,No,Yes,Yes,No,NaN,High,Low,No
7998,Female,Low,Yes,No,No,No,Yes,Yes,Medium,Medium,High,No
7999,Female,High,Yes,No,No,No,No,No,Low,Medium,Medium,No

In [9]:
num_columns = data.columns[data.dtypes!="object"]
data[num_columns]

,Unnamed: 0,Age,Blood Pressure,Cholesterol Level,BMI,Sleep Hours,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level
0,9254,78.0,140.0,289.0,25.086206,9.024681,222.0,137.0,14.481422,11.320909
1,1561,64.0,143.0,203.0,23.791361,6.543419,188.0,111.0,6.485267,15.761419
2,1670,18.0,147.0,161.0,37.100070,4.612469,259.0,123.0,3.383982,14.664906
3,6087,24.0,145.0,195.0,23.917206,4.964663,175.0,101.0,9.998831,14.296107
4,6669,49.0,157.0,291.0,22.477665,7.810732,261.0,99.0,3.111362,15.257110
...,...,...,...,...,...,...,...,...,...,...
7995,5734,37.0,168.0,221.0,18.751434,9.204600,385.0,145.0,11.497224,5.402544
7996,5191,54.0,156.0,261.0,27.909549,8.108505,343.0,138.0,12.966452,19.244289
7997,5390,49.0,144.0,228.0,33.563750,7.650281,106.0,159.0,13.646456,13.027824
7998,860,22.0,137.0,238.0,23.752347,5.011020,214.0,92.0,3.374796,14.446374
7999,7270,66.0,135.0,287.0,35.650116,4.977200,124.0,103.0,14.360263,19.381659

In [10]:
for col in cat_columns:
    print( data[col].value_counts())
    print(f"Total count {len(data[col].value_counts())}")
    print("================================================")

Gender
Female    3997
Male      3989
Name: count, dtype: int64
Total count 2
================================================
Exercise Habits
High      2697
Medium    2672
Low       2612
Name: count, dtype: int64
Total count 3
================================================
Smoking
Yes    4069
No     3912
Name: count, dtype: int64
Total count 2
================================================
Family Heart Disease
No     4006
Yes    3977
Name: count, dtype: int64
Total count 2
================================================
Diabetes
No     4020
Yes    3959
Name: count, dtype: int64
Total count 2
================================================
High Blood Pressure
Yes    4034
No     3948
Name: count, dtype: int64
Total count 2
================================================
Low HDL Cholesterol
Yes    4026
No     3957
Name: count, dtype: int64
Total count 2
================================================
High LDL Cholesterol
No     4025
Yes    3954
Name: count, dtype: int64
Total count 2
================================================
Alcohol Consumption
Low       2000
Medium    1965
High      1952
Name: count, dtype: int64
Total count 3
================================================
Stress Level
Medium    2683
High      2655
Low       2645
Name: count, dtype: int64
Total count 3
================================================
Sugar Consumption
Low       2689
High      2668
Medium    2617
Name: count, dtype: int64
Total count 3
================================================
Heart Disease Status
No     6387
Yes    1613
Name: count, dtype: int64
Total count 2
================================================

In [11]:
X=data.drop(labels=["Heart Disease Status"],axis=1)
y=data["Heart Disease Status"]

In [12]:
cat_columns=X.select_dtypes(include="object").columns
num_columns=X.select_dtypes(exclude="object").columns

cat_columns
num_columns

Index(['Unnamed: 0', 'Age', 'Blood Pressure', 'Cholesterol Level', 'BMI',
       'Sleep Hours', 'Triglyceride Level', 'Fasting Blood Sugar', 'CRP Level',
       'Homocysteine Level'],
      dtype='object')

In [94]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [95]:
num_pipeline = Pipeline(
    steps = [
        ("imputer",SimpleImputer(strategy="mean")),
        ("sclaer",StandardScaler())

    ]
)

In [96]:
Gender_categories=['Female','Male']
Exercise_Habits_categories=['High','Medium','Low']
Smoking_categories=['Yes','No']
Family_Heart_Disease_categories=['Yes','No']
Diabetes_categories=['Yes','No']
High_Blood_Pressure_categories=['Yes','No']
Low_HDL_Cholesterol_categories=['Yes','No']
High_LDL_Cholesterol_categories=['Yes','No']
Alcohol_Consumption_categories=['High','Medium','Low']
Stress_Level_categories=['High','Medium','Low']
Sugar_Consumption_categories=['High','Medium','Low']

In [97]:
from sklearn.preprocessing import OrdinalEncoder
cat_pipeline = Pipeline(
    steps = [
        ("imputer",SimpleImputer(strategy='most_frequent')),
        ("ordinal encoder",OrdinalEncoder(categories=[Gender_categories,Exercise_Habits_categories,Smoking_categories,Family_Heart_Disease_categories,Diabetes_categories,High_Blood_Pressure_categories,Low_HDL_Cholesterol_categories,High_LDL_Cholesterol_categories,Alcohol_Consumption_categories,Stress_Level_categories,Sugar_Consumption_categories]))



    ]
)

In [98]:
from sklearn.compose import ColumnTransformer
preprocessor =  ColumnTransformer(
    transformers=[
        ("num_pipeline", num_pipeline, num_columns),
        ("cat_pipeline", cat_pipeline, cat_columns)
    ]
)

In [99]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [100]:
X

,Unnamed: 0,Age,Gender,Blood Pressure,Cholesterol Level,Exercise Habits,Smoking,Family Heart Disease,Diabetes,BMI,...,Low HDL Cholesterol,High LDL Cholesterol,Alcohol Consumption,Stress Level,Sleep Hours,Sugar Consumption,Triglyceride Level,Fasting Blood Sugar,CRP Level,Homocysteine Level
0,9254,78.0,Male,140.0,289.0,High,Yes,Yes,No,25.086206,...,Yes,No,Low,High,9.024681,Medium,222.0,137.0,14.481422,11.320909
1,1561,64.0,Male,143.0,203.0,Low,Yes,Yes,Yes,23.791361,...,Yes,No,High,Medium,6.543419,Medium,188.0,111.0,6.485267,15.761419
2,1670,18.0,Female,147.0,161.0,Low,Yes,Yes,Yes,37.100070,...,No,No,High,High,4.612469,Low,259.0,123.0,3.383982,14.664906
3,6087,24.0,Female,145.0,195.0,Medium,Yes,No,No,23.917206,...,No,No,NaN,Medium,4.964663,High,175.0,101.0,9.998831,14.296107
4,6669,49.0,Male,157.0,291.0,Medium,Yes,No,Yes,22.477665,...,No,Yes,NaN,Low,7.810732,Medium,261.0,99.0,3.111362,15.257110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,5734,37.0,Male,168.0,221.0,Medium,No,Yes,No,18.751434,...,No,No,NaN,High,9.204600,High,385.0,145.0,11.497224,5.402544
7996,5191,54.0,Female,156.0,261.0,High,No,No,No,27.909549,...,Yes,Yes,Medium,Medium,8.108505,Medium,343.0,138.0,12.966452,19.244289
7997,5390,49.0,Female,144.0,228.0,Medium,No,Yes,No,33.563750,...,Yes,No,NaN,High,7.650281,Low,106.0,159.0,13.646456,13.027824
7998,860,22.0,Female,137.0,238.0,Low,Yes,No,No,23.752347,...,Yes,Yes,Medium,Medium,5.011020,High,214.0,92.0,3.374796,14.446374
7999,7270,66.0,Female,135.0,287.0,High,Yes,No,No,35.650116,...,No,No,Low,Medium,4.977200,Medium,124.0,103.0,14.360263,19.381659

In [101]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Convert categorical labels ('Yes'/'No') to numerical (1/0)
le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [102]:
print(X_train.shape) 
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(6400, 21)
(1600, 21)
(6400,)
(1600,)

In [103]:
preprocessor.fit_transform(X_train)
preprocessor.transform(X_test)

array([[-1.54980352,  1.21179455,  0.00978917, ...,  2.        ,
         2.        ,  0.        ],
       [-0.74512868, -1.71065332, -1.35495812, ...,  1.        ,
         0.        ,  0.        ],
       [ 1.67926537, -1.15924806, -0.61572   , ...,  2.        ,
         1.        ,  1.        ],
       ...,
       [-0.91553447,  0.82581087, -0.72944894, ...,  2.        ,
         0.        ,  2.        ],
       [ 1.02805944, -0.6078428 ,  1.60199434, ...,  2.        ,
         0.        ,  0.        ],
       [-1.01750143,  0.16412456,  0.80589175, ...,  2.        ,
         2.        ,  2.        ]])

In [104]:
preprocessor.get_feature_names_out()

array(['num_pipeline__Unnamed: 0', 'num_pipeline__Age',
       'num_pipeline__Blood Pressure', 'num_pipeline__Cholesterol Level',
       'num_pipeline__BMI', 'num_pipeline__Sleep Hours',
       'num_pipeline__Triglyceride Level',
       'num_pipeline__Fasting Blood Sugar', 'num_pipeline__CRP Level',
       'num_pipeline__Homocysteine Level', 'cat_pipeline__Gender',
       'cat_pipeline__Exercise Habits', 'cat_pipeline__Smoking',
       'cat_pipeline__Family Heart Disease', 'cat_pipeline__Diabetes',
       'cat_pipeline__High Blood Pressure',
       'cat_pipeline__Low HDL Cholesterol',
       'cat_pipeline__High LDL Cholesterol',
       'cat_pipeline__Alcohol Consumption', 'cat_pipeline__Stress Level',
       'cat_pipeline__Sugar Consumption'], dtype=object)

In [105]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [ ]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pandas as pd

In [107]:
models = {
    'LogisticRegression': LogisticRegression(),
    'DecisionTree': DecisionTreeClassifier(),
    'RandomForest': RandomForestClassifier(),
    'SVM': SVC(),
    'KNN': KNeighborsClassifier(),
    'NaiveBayes': GaussianNB(),
    'GradientBoosting': GradientBoostingClassifier(),
    'XGBoost': XGBClassifier(use_label_encoder=False, eval_metric='logloss'),
    'RidgeClassifier': LogisticRegression(penalty='l2'),
    'LassoClassifier': LogisticRegression(penalty='l1', solver='liblinear')
}

In [114]:
def evaluate_model(true, pred):
    acc = accuracy_score(true, pred)
    prec = precision_score(true, pred)
    rec = recall_score(true, pred)
    f1 = f1_score(true, pred)
    return acc, prec, rec, f1

# Lists to store results
model_list = []
accuracy_list = []
precision_list = []
recall_list = []
f1_list = []

# Train and evaluate each model
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    acc, prec, rec, f1 = evaluate_model(y_test, y_pred)
    
    print(f"Model: {name}")
    print(f"Accuracy: {acc:.4f}, Precision: {prec:.4f}, Recall: {rec:.4f}, F1-Score: {f1:.4f}")
    print("="*40, "\n")
    
    model_list.append(name)
    accuracy_list.append(acc)
    precision_list.append(prec)
    recall_list.append(rec)
    f1_list.append(f1)

Model: LogisticRegression
Accuracy: 0.9975, Precision: 0.9908, Recall: 0.9969, F1-Score: 0.9938
========================================

Model: DecisionTree
Accuracy: 1.0000, Precision: 1.0000, Recall: 1.0000, F1-Score: 1.0000
========================================

Model: RandomForest
Accuracy: 1.0000, Precision: 1.0000, Recall: 1.0000, F1-Score: 1.0000
========================================

Model: SVM
Accuracy: 0.9881, Precision: 0.9810, Recall: 0.9598, F1-Score: 0.9703
========================================

Model: KNN
Accuracy: 0.8894, Precision: 0.8093, Recall: 0.5913, F1-Score: 0.6834
========================================

Model: NaiveBayes
Accuracy: 0.9994, Precision: 1.0000, Recall: 0.9969, F1-Score: 0.9984
========================================

Model: GradientBoosting
Accuracy: 1.0000, Precision: 1.0000, Recall: 1.0000, F1-Score: 1.0000
========================================

c:\Users\neel\anaconda3\Lib\site-packages\xgboost\core.py:158: UserWarning: [22:03:10] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Model: XGBoost
Accuracy: 0.9981, Precision: 0.9938, Recall: 0.9969, F1-Score: 0.9954
========================================

Model: RidgeClassifier
Accuracy: 0.9975, Precision: 0.9908, Recall: 0.9969, F1-Score: 0.9938
========================================

Model: LassoClassifier
Accuracy: 0.9981, Precision: 0.9938, Recall: 0.9969, F1-Score: 0.9954
========================================

In [110]:
results_df = pd.DataFrame({
    'Model': model_list,
    'Accuracy': accuracy_list,
    'Precision': precision_list,
    'Recall': recall_list,
    'F1-Score': f1_list
})

In [111]:
results_df = results_df.sort_values(by='F1-Score', ascending=False)
print(results_df)

                Model  Accuracy  Precision    Recall  F1-Score
1        DecisionTree  1.000000   1.000000  1.000000  1.000000
2        RandomForest  1.000000   1.000000  1.000000  1.000000
6    GradientBoosting  1.000000   1.000000  1.000000  1.000000
5          NaiveBayes  0.999375   1.000000  0.996904  0.998450
7             XGBoost  0.998125   0.993827  0.996904  0.995363
9     LassoClassifier  0.998125   0.993827  0.996904  0.995363
0  LogisticRegression  0.997500   0.990769  0.996904  0.993827
8     RidgeClassifier  0.997500   0.990769  0.996904  0.993827
3                 SVM  0.988125   0.981013  0.959752  0.970266
4                 KNN  0.889375   0.809322  0.591331  0.683363